<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>


  <div class="card">
    <img src="https://pbs.twimg.com/media/FtVPBjqWcAAodwf.jpg:large" class="card-img-top" alt="...">
  
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.z2u.com/genshin-impact/accounts-5-11360?gclid=CjwKCAjwsvujBhAXEiwA_UXnALvsUXKVf6fhsx-ipCGsJb8xHB_kHUuaMpcyYzuO8P09GHJeVGrdhRoCkjoQAvD_BwE" class="btn btn-primary">Buy</a>
    </div>
  </div>
  
  <div class="card" aria-hidden="true">
    <img src="https://assets-prd.ignimgs.com/2020/09/29/genshin-impact-button-fin-1601346152039.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a class="btn btn-primary disabled placeholder col-6"></a>
    </div>
  </div>



    <nav>
        <h4>PlayMania</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </nav>

</body>
</html>